
h1 { font-family:'Shadow Into', cursive;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 10px 10px 6px #22ffff
    }
        
body{
    
    background-size: cover;
    background-color: lightgray;
}
h2 {
    font-size: 50px;
    color:#fff;
    padding: 0px 5px;
}

body,html {
    margin: 0;
    font-family: sans-serif;
  }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 23.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: lightgray;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: indigo;
  }
  
  a:hover {     
    background: orange;
  }
  
  a:active {
    background: red;
    color: white;
  }

  footer{
       grid-area: footer;
  }

  img{
      width: 20%;
      border-block: 10%;
  }
   video{
    width: 20%;
    border-block: 10%;
   }

.centered {
    text-align: center;
}